$color-button-primary: #e3c30e;
$color-font-button-primary: #ffffff;
$color-button-secondary: #000000;
$color-font-button-secondary: #b3b3b3;

.participantDetailsContainer {
  background-color: whitesmoke;
  width: 60%;
  margin: 5% auto;
  padding: 2%;
  outline: 3px solid $color-font-button-secondary;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
  font-size: 300%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: $color-button-primary;
  text-align: center;
  margin-bottom: 20px;
}

.participantInfo {
  text-align: left;
  padding: 10px 20px;

  p {
    font-size: 150%;
    color: $color-button-secondary;
    margin-bottom: 8px;

    span {
      font-weight: bold;
      color: $color-button-primary;
    }
  }
}

.background {
  height: 100%;
  width: 100%;
  background-image: url('../../img/rycerz.jpg');
  background-size: cover;
}

.transDiv {
  align-items: center;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 20px;
}