$color-button-primary: #e3c30e;
$color-font-button-primary: #ffffff;
$color-button-secondary: #000000;
$color-font-button-secondary: #b3b3b3;

.fullDiv {
  height: 100%;
  width: 100%;
  background-image: url('../../img/rycerz.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerUp {
  padding-top: 10%;
  margin: 0 auto;
  //width: fit-content;
  font-size: 500%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: $color-button-primary;
}

.finalsTreeContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: hidden;
  padding: 20px;
}

.fightNode {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.childNodes {
  display: flex;
  flex-direction: column; /* Stack child nodes vertically */
  margin-top: 10px; /* Space between parent and children */
}

.addButtonContainer {
  margin-bottom: 1rem;
}

.horizontalTreeContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start; /* Ensure it aligns left */
  width: max-content; /* Allow it to take up as much width as needed */
  position: relative;
}