$color-button-primary: #e3c30e;
$color-font-button-primary: #ffffff;
$color-button-secondary: #000000;
$color-font-button-secondary: #b3b3b3;

.fullDiv {
  height: 100%;
  width: 100%;
  background-image: url('../../img/rycerz.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerUp {
  padding-top: 10%;
  margin: 0 auto;
  //width: fit-content;
  font-size: 500%;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: bolder;
  color: $color-button-primary;
}

.finalsTreeContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: $color-button-primary;
  overflow-x: auto; /* Enable horizontal scrolling */
  overflow-y: auto;
  padding: 0 20px; /* Optional padding for aesthetics */
}

.topRow {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin-bottom: 50px;
}

.finalsStyle, .thirdPlaceStyle {
  font-size: 200%;
  width: 45%;
  text-align: center;
}

.bottomRow {
  width: fit-content; /* Adjust width to content */
  display: flex;
  justify-content: center;
  min-width: 100%; /* Ensure it doesn't shrink too much */
}

.fightNode {
  margin: 20px;
  text-align: center;
}

.childNodes {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.addButtonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}